/** <Frostbite> **/
@font-face {
	font-family: 'WebSymbolsRegular';
	src: url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.eot');
	src: url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.woff') format('woff'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.ttf') format('truetype'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont#WebSymbolsRegular') format('svg');
}
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
.slideshow * {
	padding: 0;
	margin: 0;
}
h1 {
	color: white
}
#slideshow-wrap {
	display: block;
	min-width: 930px;
	max-width: 1280px;
	border: 12px rgba(11,11,11,1) solid;
	position: relative;
	margin: 0;
}
#slideshow-inner {
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	overflow: hidden;
	position: relative;
}
#slideshow-inner>ul {
	list-style: none;
	height: 100%;
	width: 500%;
	overflow: hidden;
	position: relative;
	left: 0px;
	-webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
#slideshow-inner>ul>li {
	width: 20%;
	height: 320px;
	float: left;
	position: relative;
}
#slideshow-inner>ul>li>img {
	margin: auto;
	height: 130%;
	width: 100%;
}
#slideshow-wrap input[type=radio] {
	position: absolute;
	left: 50%;
	bottom: 15px;
	z-index: 100;
	visibility: hidden;
}
#slideshow-wrap label:not(.arrows):not(.show-description-label) {
	position: absolute;
	left: 50%;
	bottom: -45px;
	z-index: 100;
	width: 12px;
	height: 12px;
	background-color: rgba(00,00,00,1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	-webkit-transition: background-color .25s;
	-moz-transition: background-color .25s;
	-o-transition: background-color .25s;
	transition: background-color .25s;
}
#slideshow-wrap label:not(.arrows):active {
	bottom: -46px
}
#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] {
	background-color: rgba(100,100,100,1)
}
#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] {
	background-color: rgba(100,100,100,1)
}
#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] {
	background-color: rgba(100,100,100,1)
}
#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] {
	background-color: rgba(100,100,100,1)
}
#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] {
	background-color: rgba(100,100,100,1)
}
#slideshow-wrap label[for=button-1] {
	margin-left: -36px
}
#slideshow-wrap label[for=button-2] {
	margin-left: -18px
}
#slideshow-wrap label[for=button-4] {
	margin-left: 18px
}
#slideshow-wrap label[for=button-5] {
	margin-left: 36px
}
#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul {
	left: 0
}
#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul {
	left: -100%
}
#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul {
	left: -200%
}
#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul {
	left: -300%
}
#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul {
	left: -400%
}
label.arrows {
	font-family: 'WebSymbolsRegular';
	font-size: 45px;
	font-weight: bold;
	color: rgb(255,255,240);
	position: absolute;
	top: 50%;
	margin-top: -15px;
	display: none;
	opacity: 0.7;
	cursor: pointer;
	z-index: 1000;
	background-color: transparent;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 10px;
	background: #000000;
	border: 2px solid #266A2E;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 10px 10px 10px rgba(0,0,0,.8);
}
label.arrows:hover {
	opacity: 1
}
label.arrows:active {
	margin-top: -13px
}
input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
	right: 15px;
	display: block;
}
input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
	left: 15px;
	display: block;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
input[type=radio]#button-2:checked~.arrows#arrow-1 {
	left: 51px
}
input[type=radio]#button-3:checked~.arrows#arrow-2 {
	left: 33px
}
input[type=radio]#button-5:checked~.arrows#arrow-4 {
	left: -3px
}
.description {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	font-family: 'Yanone Kaffeesatz';
	z-index: 1000;
}
.description input {
	visibility: hidden
}
.description label {
	font-family: 'WebSymbolsRegular';
	background-color: rgba(255,255,240,1);
	position: relative;
	left: -17px;
	top: 00px;
	width: 40px;
	height: 27px;
	display: inline-block;
	text-align: center;
	padding-top: 7px;
	border-bottom-right-radius: 15px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	z-index: 5;
	color: rgb(20,20,20);
}
#slideshow-inner>ul>li:hover .description label {
	opacity: 1
}
.description input[type=checkbox]:checked~label {
	opacity: 1
}
.description .description-text {
	background-color: rgba(255,255,230,.5);
	padding-left: 45px;
	padding-top: 25px;
	padding-right: 15px;
	padding-bottom: 15px;
	position: relative;
	top: -35px;
	z-index: 4;
	opacity: 0;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	color: rgb(20,20,20);
}
.description input[type=checkbox]:checked~.description-text {
	opacity: 1
}
/** </Frostbite> **/
/** <Roman3349> **/
@font-face {
	font-family: 'Minecraft';
	src: url('/fonts/minecraft.ttf');
}
body {
	background: url(../imgs/background.png) no-repeat fixed;
	background-position: top center;
	background-size: cover;
	font-family: Calibri;
	font-size: 14.5px;
	width: 1280px;
	margin: 0px auto;
}
.logo {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.page {
	border-radius: 8px;
	background-color: white;
}
nav {
	width: 100%;
	height: 50px;
	background-color: rgb(11, 11, 11);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-family: Minecraft;
}
nav ul {
	padding: 0px 8px;
}
nav li {
	display: inline-block;
}
nav li a {
	display: block;
	padding: 12px 8px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
nav li a:hover {
	color: white;
}
.left-panel {
	float: left;
	width: 980px;
}
.new {
	width: 960px;
	margin: 10px 15px 0px 15px;
	padding-bottom: 15px;
}
.new h1 {
	color: ForestGreen;
	font-weight: bold;
	font-size: 12pt;
  font-family: Minecraft;
}
.new h2, .new h3, new h4 {
	line-height: 0px;
}
.new small {
	width: 960px;
	color: gray;
	font-size: 14px;
}
.new ul, .new ol, .new li {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 4px;
}
.right-panel {
	float: right;
	width: 300px;
}
.panel {
	margin: 10px 15px 0px 15px;
}
.panel h1 {
	color: ForestGreen;
	font-weight: bold;
	font-size: 12pt;
  font-family: Minecraft;
}
footer {
	width: 1260px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: rgb(11, 11, 11);
	color: white;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
}
a:link, a:visited {
	color: ForestGreen;
	text-decoration: none;
}
table {
	border-spacing: 0;
}
td {
	vertical-align: middle;
	text-align: center;
	padding: 2px;
}
.center {
	text-align: center;
}
.team td {
	border: 1px solid #fff;
	background: #333;
	width: 96px;
  height: 96px;
	padding: 5px 0;
  color: #fff;
}
.team td a {
	color: #fff;
	text-decoration: none;
}
.team td a:hover {
	color: #b85349;
}
.team td a img {
	width: 72px;
	height: 72px;
}
@media screen and (max-width: 1280px) {
body {
	width: 960px;
}
.left-panel {
	width: 640px;
}
.new {
	width: 620px;
}
.right-panel {
	float: left;
	width: 300px;
}
.panel img {
	width: 290px;
}
footer {
	width: 940px;
}
}
@media screen and (max-width: 960px) {
body {
	width: 760px;
}
.logo {
	max-width: 720px;
}
.slideshow {
	display: none;
}
.left-panel {
	width: 540px;
}
.new {
	max-width: 520px;
}
.right-panel {
	float: left;
	width: 200px;
}
.panel img {
	width: 190px;
}
footer {
	width: 740px;
}
}
@media screen and (max-width: 760px) {
body {
	width: 560px;
}
.logo {
	width: 540px;
}
.slideshow {
	display: none;
}
.left-panel {
	width: 540px;
	padding-bottom: 10px;
}
.new {
	width: 520px;
}
.right-panel {
	width: 520px;
}
footer {
	width: 540px;
}
}
@media screen and (max-width: 560px) {
body {
	width: 440px;
}
img {
	max-width: 400px
}
.slideshow {
	display: none;
}
.left-panel {
	width: 420px;
	padding-bottom: 10px;
}
.new {
	width: 400px;
}
.right-panel {
	width: 400px;
}
footer {
	width: 420px;
}
}
@media screen and (max-width: 440px) {
body {
	width: 280px;
}
.logo {
	width: 260px
}
img {
	max-width: 250px;
}
.slideshow {
	display: none;
}
nav {
	height: 32px;
}
nav ul {
	padding: 0px 5px;
}
nav li {
	display: inline-block;
}
nav li a {
	display: block;
	padding: 8px 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
}
.left-panel {
	width: 260px;
	padding-bottom: 10px;
}
.new {
	width: 260px;
}
.right-panel {
	width: 260px;
}
footer {
	width: 260px;
}
}
/** </Roman3349> **/